<div>
    <h2 style="display: flex; flex-direction: row; justify-content: center;"> Application Successfully Submitted!!!!!</h2>
    <button href="/newjobs" class="btn btn-primary">Apply More</button>
</div>